<html>
<head>
    <title>m.n.m.l.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/addClass.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/addClass.js"></script>
</head>

<body>
     <!-- Side Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home" class="naviBut">home</a>
        <a href="social" class="naviBut">calendar</a>
        <a href="addClass" class="naviBut">social</a>
        <a id="current" class="naviBut">add class</a>
        <a href="settings" class="naviBut">settings</a>
    </div>

    <span id="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <div class="container text-center">
        <h1>add a class</h1>
    </div>
</body>
</html>
