<html>
<head>
    <title>m.n.m.l.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/headers.css" rel="stylesheet">
    <link href="css/addClass.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/addClass.js"></script>
</head>

<body>
     <!-- Side Nav Bar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home" class="naviBut">home</a>
        <a href="calendar" class="naviBut">calendar</a>
        <a id="current" class="naviBut">add class</a>
        <a href="/" class="naviBut">log out</a>
    </div>

    <span id="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <div class="container text-center">
        <h1 id="title">add a class</h1>
        <div style="height: 10vh"></div><hr class="topbar">

        <div class="buttons" id="cogs14b">
            <div>
                <form role="form" method="get">
                    <button id="cogs14b" type="button">cogs14b</button>
                </form>
            </div>
        </div>
        <div class="buttons" id="cogs120">
            <div>
                <form role="form" method="get">
                    <button id="cogs120" type="button">cogs120</button>
                </form>
            </div>
        </div>
        <div class="buttons" id="cse100">
            <div>
                <form role="form" method="get">
                    <button id="cse100" type="button">cse100</button>
                </form>
            </div>
        </div>
        <div class="buttons" id="dsgn100">
            <div>
                <form role="form" method="get">
                    <button id="dsgn100" type="button">dsgn100</button>
                </form>
            </div>
        </div>

        <!-- {{#each classes}}
            <div class="buttons" id="{{id}}">
                <div>
                    <form role="form" method="get">
                        <button id="{{buttonID}}" type="button" onclick="{{buttonID}}()">{{class}}</button>
                    </form>
                </div>
            </div>
        {{/each}} -->

        <!-- The actual snackbar -->
        <div id="snackbar"><h4>Tasks from this class have been added to your Homepage!</h4></div>

        <h3>More classes coming soon!</h3>
    </div>

</body>
</html>
