<html>
<head>
    <title>m.n.m.l. add friend</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/addFriend.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div id="navigation">
            <h4 align="left"><a href="/challenge">back</a></h4>
            <h4 align="right"><a href="/home">home</a></h4>
        </div>
            <!-- 
        <ul>
            {{#each tasks}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
        <br> -->

        <!-- <h3><a href="#">add task</a></h3> -->

        <label for="exampleInputEmail1"><h3>enter friend's email</h3></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@something.com">
        <br>
        <input type="button" class="btn btn-primary center" value="add!" onclick="location.href = 'cogs120';">
    </div>
</body>
</html>
