<html>
<head>
	<title>m.n.m.l. challenge</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/challenge.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
		<h4><a href="/social">back</a></h4>
		<br>
		<div>
			<h2 style = "color: white" align="center">challenge lists</h2>
		</div>	

		<br>
		<h4 style = "color: white" align="center">click on a list to share it with a friend!</h4>
		
		<!-- Popup button -->
		<div id="addPop" class="popup">
			<form id="addTaskForm" role="form" method="get" action="/add">
	    	    <div class="form-group">
	    	      <input id="listInput" type="text" class="form-control" id="name" placeholder="make a new list to share" name="name" required>
	    	    </div>
	    	    <input type="submit" id="submitBtn" class="btn btn-default" value="add!" onsubmit="submitAdd()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="cancel" onclick="closeAdd()"></input>
    		</form>
		</div>
		
		<!-- list all the public lists-->
		{{#each challenge}}
 		<div class="container">
 			<a href="addFriend" class="btn btn-info btn-space" role="button"><h2>{{title}}</h2></a>
 		</div>
 		{{/each}}


		
 	

 		<!-- Add button -->
		<a href="javascript:void(0)" onclick="openAdd()">
			<div class="circle"><p style="transform: translateY(2px); color: white; font-size: 25px">+</p></div>
		</a>

	</div>
</body>
</html>
