<html>
<head>
	<title>m.n.m.l. challenge</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/challenge.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
		<h4><a href="/social">back</a></h4>

		<div>
			<h3 align="center">public lists</h3>
		</div>	

		<br>
		<h4>invite friends to...</h4>
		<!--hard code public list -->
 		<div class="container">
 			<a href="addFriend" class="btn btn-info btn-space" role="button"><h2>cogs 120</h2></a>
 			<a href="addFriend" class="btn btn-info btn-space" role="button"><h3>lee's birthday</h3></a>
 		</div>
	</div>
</body>
</html>
