<html>
<head>
	<title>m.n.m.l. group</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/challenge.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>

<body>
	<div class="container">
		<h4><a href="/social">back</a></h4>
		<br>
		<div>
			<h2 style = "color: white" align="center">public lists</h2>
		</div>	

		<br>
		<h4 style = "color: white" align="center">collaborate with your friends!</h4>
		<!--hard code public list -->
		<div id="publicList">
			{{#each publicLists}}
				<div class="name"><h2>{{name}}</h2></div>
			{{/each}}
		</div>


 		<div class="container">
 			<a href="addFriend" class="btn btn-info btn-space" role="button"><h2 align="center">cogs 120</h2></a>
 		</div>

 		<!-- Add button -->
		<a href="javascript:void(0)" onclick="openAdd()">
			<div class="circle"><p style="transform: translateY(2px); color: white; font-size: 25px">+</p></div>
		</a>

	</div>
</body>
</html>
