<html>
<head>
	<title>m.n.m.l.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

	<link href="css/shepherd-theme-dark.css" rel="stylesheet">
	<script src="js/tether.min.js"></script>
	<script src="js/shepherd.min.js"></script>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script>
</head>

<body>

	<!-- Side Nav Bar -->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a id="current" class="naviBut">home</a>
		<a href="calendar" class="naviBut">calendar</a>
		<a href="social" class="naviBut">social</a>
		<a href="addClass" class="naviBut">add class</a>
		<a href="javascript:void(0)" class="naviBut" onclick="closeNav(); startTour()">tutorial</a>
		<a href="settings" class="naviBut">settings</a>
	</div>

	<span id="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

	<!-- Edit Icon (Pencil) -->
	<a href="javascript:void(0)" id="editButton" onclick="openEdit()">
		<div class="edit text-right"><h2 style="transform: scale(1.4);">&#9998;</h2></div>
	</a>

	<div class="container text-center">
		<h1 id="title">m.n.m.l.</h1>
		<div style="height: 20vh"></div><hr class="topbar">
		
		<h3 class="todays">Today's Tasks</h3>
		<h4 id="date"></h4>

		<!-- Popup button -->
		<div id="addPop" class="popup">
			<form id="addTaskForm" role="form" method="get" action="/add">
	    	    <div class="form-group">
	    	      <input id="taskInput" type="text" class="form-control" id="name" placeholder="add a task" name="name" required>
	    	    </div>
	    	    <input type="submit" id="submitBtn" class="btn btn-default" value="add!" onsubmit="submitAdd()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="cancel" onclick="closeAdd()"></input>
    		</form>
		</div>

		<!-- Task List -->
		<div id="tasklist">
			{{#each tasks}}
			<div class="task" id="{{id}}">
				<a href="#" class="indvTasks" style="text-decoration: none;">

					<!-- Checkmark Box -->
					<div class="box"><h2 style="transform: translateY(-4px) scale(1.4);">&#9744;</h2></div>

					<!-- Task -->
					<div class="taskName col-sm-12 "><h2>{{name}}</h2>
					<!-- Time -->
					<div class="time col-sm-12"><h3>{{time}}</h3></div>
					</div>	
				</a>
			</div>
			{{/each}}
		</div>

		<!-- Add button -->
		<a href="javascript:void(0)" onclick="openAdd()">
			<div class="circle"><p style="transform: translateY(2px); color: white; font-size: 25px">+</p></div>
		</a>

		<!-- Quote on the bottom -->
		<h4 id="quote">"you can do it!" - mnml</h4>

	</div>
</body>
</html>
