<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112003305-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-112003305-3');
	</script>

	<title>m.n.m.l.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/shepherd-theme-dark.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/headers.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

	<!-- Bootstrap Date-Picker Plugin -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<script src="js/tether.min.js"></script>
	<script src="js/shepherd.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script>
	<script src="js/navbar.js"></script>
	{{>facebook}}

	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

	<script>
	  $( function() {
	    $( ".draggable" ).sortable();
	    $( ".draggable" ).disableSelection();
	  } );
	</script>
</head>

<body>

	<!-- Side Nav Bar -->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a id="current" class="naviBut">home</a>
		<a href="calendar" class="naviBut">calendar</a>
		<a href="addClass" class="naviBut">add class</a>
		<a href="javascript:void(0)" class="naviBut" onclick="closeNav(); startTour()">tutorial</a>
		<a href="/" class="naviBut">log out</a>
	</div>

	<!-- Open Nav Bar -->
	<span id="openNav" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

	<!-- Edit Icon (Pencil) -->
	<a href="javascript:void(0)" id="editButton">
		<div class="edit text-right"><h2 style="transform: scale(1.4);">&#9998;</h2></div>
	</a>

	<!-- Overall Body Container -->
	<div class="container text-center">
		<h1 id="title">m.n.m.l.</h1>
		<div id="block" style="height: 20vh"></div><hr class="topbar">
		
		<h3 class="todays">today's tasks</h3>
		<h4 id="date"></h4>
		<h3><a href="#" id="nextDay">></a></h3>
		<h3><a href="#" id="prevDay"><</a></h3>

		<!-- Popup button -->
		<div id="addPop" class="popup">
			<form id="addTaskForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">task</label>
	    	    	<input id="taskInput" type="text" class="form-control" id="name" placeholder="do laundry" name="name" required>
	    	    </div>

				<!-- Start by Time Input -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">start by time</label>
	    	    	<input id="timeInput" type="time" class="form-control" name="time" required>
	    	    </div>

	    	    <!-- Time Estimated Input -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">estimated time to spend</label>
	    	    	<input id="spendInput" type="text" class="form-control" placeholder="2h" name="timespend" required>
	    	    </div>

				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="add!" onclick="submitAdd()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="cancel" onclick="closeAdd()"></input>
    		</form>
		</div>

		<!-- time spent -->
		<div id="timeSpent" class="popup">
			<form id="timeSpentForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">time spent</label>
	    	    	<input id="spentInput" type="text" class="form-control" id="name" placeholder="how much time did you spend?" name="name" required>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="submit!" onclick="submitTime()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="cancel" onclick="closeTime()"></input>
    		</form>
		</div>

		<!-- check unchecking-->
		<div id="uncheckCheck" class="popup">
			<form id="uncheckForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">are you sure you want to uncheck this task?</label>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="yes" onclick="uncheckCheck()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="no" onclick="closeCheck()"></input>
    		</form>
		</div>

		<div id="deleteCheck" class="popup">
			<form id="uncheckForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">are you sure you want to delete this task?</label>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="yes" onclick="deleteTask()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="no" onclick="closeDelete()"></input>
    		</form>
		</div>


		<div id="overTime" class="popup">
			<form id="overForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">NOPE! you have too much commitment today. please get rid of a task before adding another one</label>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="fine..." onclick="closeOver()"></input>
    		</form>
		</div>

		<div id="timeBreakdown" class="popup">
			<form id="breakdownForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label id="timeBreakdownLabel" style="margin-top: 10px;">you <span style="color: lightblue">estimated</span> [time] for this task.<br><br>you <span style="color: pink">actually</span> took [time] for this task.</label>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="ok" onclick="closeBreakdown()"></input>
    		</form>
		</div>

		<div id="deleteAll"" class="popup">
			<form id="deleteAllForm" role="form" method="get">
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="delete all" onclick="checkDeleteAll()"></input>
    		</form>
		</div>

		<div id="deleteAllCheck" class="popup">
			<form id="deleteAllForm" role="form" method="get">

				<!-- Input Task -->
	    	    <div class="form-group">
	    	    	<label style="margin-top: 10px;">are you sure you want to delete all tasks?</label>
	    	    </div>
				<!-- Submit/Cancel Buttons -->
	    	    <input type="button" id="submitBtn" class="btn btn-default" value="yes" onclick="deleteAll()"></input>
	    	    <input type="cancel" id="cancelBtn" class="btn btn-default" value="no" onclick="closeDeleteAll()"></input>
    		</form>
		</div>

		<!-- Task List -->
		<ul id="tasklist"></ul>

		<!-- Add button -->
		<div id="addButton">
			<a href="javascript:void(0)" onclick="openAdd()">
				<div class="circle"><p style="transform: translateY(2px); color: white; font-size: 50px">+</p></div>
			</a>
		</div>

		<!-- Quote on the bottom -->
		<h4 id="quote">"you can do it!" - mnml</h4>
	</div>
</body>
</html>