<html>
<head>
	<title>m.n.m.l.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="calendar">calendar</a>
		<a href="social">social</a>
		<a href="addClass">add class</a>
		<a href="#">settings</a>
	</div>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

	<div class="container text-center">
		<h1 id="title">m.n.m.l.</h1>

		

		<h3 id="quote">you can do it!</h3>

	</div>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "225px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
</script>
</body>
</html>
