<html>
<head>
    <title>m.n.m.l. shared with friend</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/addFriend.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/addFriend.js"></script>
</head>

<body>
    <div class="container">
        <!--Adding another friend to share list with-->
        <form id="addFriendForm" role="form" method="get" action="/addFriend">
            <div class="form-group">
                <label for="email"><h3 align="left">invite friends to share your list!</h3></label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="name@something.com" name="email">
            </div>
            <input type="button" class="btn btn-primary center" value="add!"> <!--onclick="location.href = 'publicList';"-->
        </form>

        <br> <br>

        <!--Listing names of friends you already shared list with-->
        <div class="sharedFriends">
            <h4>who already has access:</h4>
                {{#each sharedFriends}}
                    <div style="height: 1px;"></div><hr class="topbar">
                    <div style="height: 50px; background-color: lightgray">
                        <h4> {{name}}</h4>
                        <h5>({{email}})</h5>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</body>
</html>
